*{
    margin: 0;
    padding: 0;
}
nav > ul > li{
    display: inline;
    margin-right: 15px;
} 
nav li > a{
    text-decoration: none;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
footer{
    text-align: center;
}